.commonIconSize {
  font-size: 64px;
  height: 64px;
  width: 64px;
  margin-bottom: 24px;
}

.settingsIcon {
  composes: commonIconSize;
  color: rgba(0, 0, 0, 0.45);
}

.inheritMinHeight {
  min-height: inherit;
}

.homePageCards {
  height: 100%;
}

.homePageCardsRow {
  margin: 0 60px !important;
}

h3.cardTitle {
  margin-bottom: 0em;
}

.smCard {
  top: 65px;
  position: absolute;
  width: 88%;
  justify-content: center;
}
