/* Component specific css goes in this file  */
.link {
  color: azure;
}

.home {
  text-align: center;
  background-color: #8184ad;
  height:inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: antiquewhite;
}
