.content {
  height: 100%;
  min-height: 88vh;
}

.tmtHeader {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
}
